In [1]:
from dotenv import load_dotenv

In [2]:
load_dotenv()

True

In [1]:
from components.map import Map

In [2]:
e = Map()

In [4]:
e.df_casamentos

,nome_municipio_destino,lon_destino,lat_destino,origem,destino,total_casamentos,ano,lon_origem,lat_origem
0,Adamantina,-51.056770,-21.576642,3550308,3500105,30,2021,-46.648013,-23.64992
1,Adolfo,-49.653287,-21.288679,3550308,3500204,1,2021,-46.648013,-23.64992
2,Aguaí,-47.040347,-22.049973,3550308,3500303,14,2021,-46.648013,-23.64992
3,Águas da Prata,-46.691691,-21.913694,3550308,3500402,3,2021,-46.648013,-23.64992
4,Águas de Lindóia,-46.603671,-22.474823,3550308,3500501,13,2021,-46.648013,-23.64992
...,...,...,...,...,...,...,...,...,...
569,Viradouro,-48.309865,-20.884382,3550308,3556800,11,2017,-46.648013,-23.64992
570,Vista Alegre do Alto,-48.649424,-21.176701,3550308,3556909,2,2017,-46.648013,-23.64992
571,Votorantim,-47.406532,-23.579878,3550308,3557006,41,2017,-46.648013,-23.64992
572,Votuporanga,-49.989102,-20.457810,3550308,3557105,58,2017,-46.648013,-23.64992
573,Chavantes,-49.726537,-23.046320,3550308,3557204,14,2017,-46.648013,-23.64992