In [ ]:
from etls.scripts.municipios.extract import Extractor

In [ ]:
e = Extractor()

In [ ]:
e.codigos_mun

In [ ]:
e('pib')

In [1]:
from etls.scripts.municipios.transform_pop import Transform

In [2]:
t = Transform()

In [3]:
t()

     cod_municipio  habitantes
0          3500105       33869
1          3500204        3436
2          3500303       35885
3          3500402        7807
4          3500501       18438
..             ...         ...
640        3556909        8091
641        3556958        1761
642        3557006      120662
643        3557105       92193
644        3557154        2574

[645 rows x 2 columns]