In [1]:
from core.ckan_api_reader import Ckan
import pandas as pd

CKAN_DOMAIN='https://repositorio.seade.gov.br/api/3/'

In [2]:
ckan = Ckan(CKAN_DOMAIN)

In [3]:
ckan.pkgs

{'agricultura-municipal',
 'anexo-metodologico-populacao',
 'anexos-metodologicos-seade-municipios',
 'aprovacao-escolar-por-municipio-ano-nivel-de-ensino-e-rede-de-atendimento',
 'casamentos',
 'cnae-20',
 'codigos-nomes-dos-distritos-do-municipio-de-sao-paulo',
 'comercio-exterior',
 'comercio-exterior-nos-municipios',
 'covid-19',
 'demografia',
 'domicilios-estado-de-sao-paulo',
 'economia',
 'educacao-basica-painel',
 'educacao-do-ensino-superior',
 'emprego-formal-2021-painel',
 'emprego-formal-ocupacoes',
 'emprego-rais-e-arquivos-auxiliares',
 'equipamento',
 'estabelecimentos-de-saude',
 'estatisticas-vitais',
 'estatisticas-vitais-microdados',
 'ideb',
 'indice-paulista-de-desenvolvimento-municipal-ipdm',
 'informacoes-municipais',
 'infraestrutura-e-meio-ambiente',
 'leitos-hospitalares-por-municipio-por-ano',
 'limites-e-regioes',
 'matriculas-por-municipio-ano-nivel-de-ensino-e-rede-de-atendimento',
 'medicos-e-enfermeiros-por-municipio-ano-e-rede-de-atendimento',
 'microdados-casamentos',
 'microdados-nascidos-vivos',
 'microdados-obitos',
 'mortalidade-infantil',
 'mortalidade-no-estado-de-sao-paulo',
 'municipios',
 'nascidos-vivos',
 'nascidos-vivos-municipio-de-sao-paulo',
 'nomes-codigos-municipios-esp',
 'obitos',
 'obitos-municipio-de-sao-paulo',
 'ocupacao-e-rendimento',
 'painel-economia-agropecuaria',
 'pecuaria-municipal',
 'pesquisa-de-cuidados-no-domicilio',
 'pib-anual-2002-2020',
 'pib-mensal',
 'pib-municipal-2002-2020',
 'pib-regional',
 'pib-trimestral',
 'populacao-do-municipio-de-sao-paulo-por-distrito-e-idade-escolar',
 'populacao-do-municipio-de-sao-paulo-por-distrito-e-porte-populacional',
 'populacao-do-municipio-de-sp-por-distritos',
 'populacao-municipal-2010-2022',
 'populacao-municipal-por-sexo-e-idade-2010-2021',
 'populacao-por-municipio-de-idade-escolar',
 'populacao-residente-estado-de-sao-paulo',
 'populacao-residente-estado-de-sao-paulo-evolucao',
 'populacao-residente-municipio-de-sao-paulo',
 'populacao-residente-municipio-de-sao-paulo-evolucao',
 'populacao-total-2021-e-idadessimples',
 'populacao-urbana-e-rural',
 'projecao-da-populacao-do-estado-de-sao-paulo-por-idade-2021',
 'projecao-da-populacao-por-municipio-idade-escolar-sexo-e-ano',
 'projecao-da-populacao-por-municipio-idade-sexo-e-ano-2010-2021',
 'saneamento-estado-de-sao-paulo-e-brasil',
 'saude-painel',
 'seade-censo-2022',
 'seade-fecundidade',
 'seade-industria',
 'seade-investimentos',
 'seade-investimentos-anexos-metodologicos',
 'seade-painel',
 'seade-trajetorias-ocupacionais',
 'social',
 'trajetorias-ocupacionais-anexos-metodologicos',
 'transferencia-de-renda-painel',
 'valor-de-transformacao-industrial-nos-municipios'}

In [4]:
df = ckan('populacao-municipal-2010-2022', search_string='2021', attr='name', how='contains', as_list=True, extract=True, parser_params={'sep': ';'})

In [5]:
df= df[0]

In [6]:
filtro = (df['ano'] == 2021)

In [7]:
df = df[filtro]

In [8]:
df = df.reset_index(drop=True)

In [9]:
df = df.filter(['cod_ibge', 'populacao'], axis=1)

In [10]:
df.columns =['cod_municipio', 'habitantes']

In [11]:
df = df.reset_index(drop=True)

In [12]:
df_habitantes = df

In [13]:
df = ckan('pib-municipal-2002-2020', search_string='PIB Municipal 2002 a 2020', attr='name', how='contains', as_list=True, extract=True, parser_params={'sep': ';'})[0]

In [14]:
df

,Cod_Ibge,Localidade,Ano,Setor,Valor
0,3500105,Adamantina,2002,Agropecuária,R$ 24.321.939
1,3500204,Adolfo,2002,Agropecuária,R$ 11.076.934
2,3500303,Aguaí,2002,Agropecuária,R$ 54.743.792
3,3500402,Águas da Prata,2002,Agropecuária,R$ 3.910.158
4,3500501,Águas de Lindóia,2002,Agropecuária,R$ 2.323.797
...,...,...,...,...,...
85780,3556909,Vista Alegre do Alto,2020,Valor adicionado,R$ 352.537.232
85781,3556958,Vitória Brasil,2020,Valor adicionado,R$ 40.301.900
85782,3557006,Votorantim,2020,Valor adicionado,R$ 3.016.413.143
85783,3557105,Votuporanga,2020,Valor adicionado,R$ 3.065.420.647
85784,3557154,Zacarias,2020,Valor adicionado,R$ 109.418.769

In [15]:
filtro = (df['Setor'] == 'PIB')

In [16]:
df = df[filtro]

In [17]:
df

       Cod_Ibge        Localidade   Ano Setor             Valor
36765   3500105        Adamantina  2020   PIB  R$ 1.256.561.606
36766   3500204            Adolfo  2020   PIB    R$ 136.701.363
36767   3500303             Aguaí  2020   PIB  R$ 1.152.443.311
36768   3500402    Águas da Prata  2020   PIB    R$ 186.768.100
36769   3500501  Águas de Lindóia  2020   PIB    R$ 496.876.915
...         ...               ...   ...   ...               ...
49015   3557006        Votorantim  2002   PIB    R$ 670.404.789
49016   3557105       Votuporanga  2002   PIB    R$ 610.177.899
49017   3557154          Zacarias  2002   PIB     R$ 17.558.568
49018   3557204         Chavantes  2002   PIB     R$ 66.995.978
49019   3557303      Estiva Gerbi  2002   PIB    R$ 109.143.765

[12255 rows x 5 columns]

In [18]:
filtro = (df['Ano'] == 2020)

In [19]:
df = df[filtro]

In [20]:
df = df.filter(['Cod_Ibge', 'Valor'], axis=1)

In [21]:
df = df.reset_index(drop=True)

In [22]:
df.columns =['cod_municipio', 'PIB']

In [23]:
df_pib = df

In [52]:
df = ckan('estatisticas-vitais', search_string='Nascidos Vivos por sexo - 2021', attr='name', how='contains', as_list=True, extract=True, parser_params={'sep': ';'})[0]

In [53]:
df

     Código IBGE   Ano  Masculino  Feminino  Nascidos vivos
0        3500000  2021       15.0      17.0            32.0
1        3500105  2021       69.0      62.0           131.0
2        3500204  2021       11.0       9.0            20.0
3        3500303  2021       58.0      62.0           120.0
4        3500402  2021        7.0      13.0            20.0
..           ...   ...        ...       ...             ...
641      3557006  2021      259.0     254.0           513.0
642      3557105  2021      220.0     184.0           404.0
643      3557154  2021        6.0       3.0             9.0
644      3557204  2021       24.0      30.0            54.0
645      3557303  2021       34.0      19.0            53.0

[646 rows x 5 columns]

In [25]:
df.columns =['cod_municipio', 'ano', 'masc', 'femin', 'nascidos_vivos']

In [26]:
df = df.filter(['cod_municipio', 'nascidos_vivos'], axis=1)

In [27]:
df = df = df.reset_index(drop=True)

In [28]:
df_nascimentos = df

In [29]:
df_nascimentos = df_nascimentos.drop(0)

In [30]:
df_nascimentos= df_nascimentos.reset_index(drop=True)

In [31]:
dataframes = [df_habitantes, df_pib, df_nascimentos]

In [32]:
result = pd.concat(dataframes, axis =1 )

In [33]:
df_habitantes.columns

Index(['cod_municipio', 'habitantes'], dtype='object')

In [34]:
df_habitantes.head(2)

   cod_municipio  habitantes
0        3500105       33869
1        3500204        3436

In [35]:
df_habitantes.dtypes

cod_municipio    int64
habitantes       int64
dtype: object

In [36]:
df_pib.head(2)

   cod_municipio               PIB
0        3500105  R$ 1.256.561.606
1        3500204    R$ 136.701.363

In [37]:
df_pib.dtypes

cod_municipio     int64
PIB              object
dtype: object

In [38]:
pd.merge()

TypeError: merge() missing 2 required positional arguments: 'left' and 'right'

In [39]:
len(dataframes)

3

In [40]:
codigos = ckan('microdados-casamentos', search_string='códigos de países', how='contains', extract=True, as_list=True, parser_params={'sep' : ';'})[0]

In [41]:
codigos

,pais,cod_pais,nome_pais,descricao,loc_cod,uf,ra,ra_desc,rg,rg_desc,rm,rm_desc
0,4,9800004,Afeganistão,Estrangeiro,NaN,98,999,Outros países,999,Outros países,999,Outros países
1,8,9800008,Albânia,Estrangeiro,NaN,98,999,Outros países,999,Outros países,999,Outros países
2,12,9800012,Argélia,Estrangeiro,NaN,98,999,Outros países,999,Outros países,999,Outros países
3,16,9800016,Samoa Americana,Estrangeiro,NaN,98,999,Outros países,999,Outros países,999,Outros países
4,20,9800020,Andorra,Estrangeiro,NaN,98,999,Outros países,999,Outros países,999,Outros países
...,...,...,...,...,...,...,...,...,...,...,...,...
5834,900,5300108,Brasília,Distrito Federal,NaN,53,888,Outras UFs (Fora São Paulo),888,Outras UFs (Fora São Paulo),888,Outras UFs (Fora São Paulo)
5835,999,9800998,"Estrangeiro, País Ignorado","Estrangeiro, País Ignorado",NaN,98,999,Outros países,999,Outros países,999,Outros países
5836,900,9900900,Brasil,Brasileiro sem Especificação de UF e Município,NaN,80,8000001,Brasil - Sem especificação,8000001,Brasil - Sem especificação,8000001,Brasil - Sem especificação
5837,900,9999999,"País, UF e Município Ignorados","País, UF e Município Ignorados",NaN,99,-3,Ignorada,-3,Ignorada,-3,Ignorada
5838,900,2900306,Acajutiba,Bahia,NaN,29,888,Outras UFs (Fora São Paulo),888,Outras UFs (Fora São Paulo),888,Outras UFs (Fora São Paulo)

In [42]:
codigos_sp = codigos[codigos['uf']==35].reset_index(drop=True)

In [43]:
codigos_sp['ra_desc'].unique()

array(['SP - Município ignorado',
       'Região Administrativa de Presidente Prudente',
       'Região Administrativa de São José do Rio Preto',
       'Região Administrativa de Campinas',
       'Região Administrativa de Sorocaba',
       'Região Administrativa de Bauru',
       'Região Administrativa de Barretos',
       'Região Administrativa de Ribeirão Preto',
       'Região Administrativa de Araçatuba',
       'Região Administrativa de Marília',
       'Região Administrativa Central',
       'Região Administrativa de Itapeva',
       'Região Administrativa de São José dos Campos',
       'Região Administrativa de Franca',
       'Região Metropolitana de São Paulo',
       'Região Administrativa de Registro',
       'Região Administrativa de Santos'], dtype=object)

In [44]:
sem_mun = 'SP - Município ignorado'
codigos_sp= codigos_sp[codigos_sp['ra_desc']!=sem_mun].reset_index(drop=True)

In [45]:
len(codigos_sp)

645

In [46]:
colunas = {
    'cod_pais' : 'cod_municipio',
    'nome_pais' : 'nome_municipio',
    'ra_desc' : 'regiao_administrativa',
    'rm_desc' : 'regiao_metropolitana'
}
codigos_sp = codigos_sp[colunas.keys()].rename(colunas, axis=1)

In [47]:
codigos_sp.head()

,cod_municipio,nome_municipio,regiao_administrativa,regiao_metropolitana
0,3500105,Adamantina,Região Administrativa de Presidente Prudente,Outros municípios do Estado de São Paulo
1,3500204,Adolfo,Região Administrativa de São José do Rio Preto,Outros municípios do Estado de São Paulo
2,3500303,Aguaí,Região Administrativa de Campinas,Outros municípios do Estado de São Paulo
3,3500402,Águas da Prata,Região Administrativa de Campinas,Outros municípios do Estado de São Paulo
4,3500501,Águas de Lindóia,Região Administrativa de Campinas,Outros municípios do Estado de São Paulo

In [48]:
pivo = codigos_sp.copy()
for df in dataframes:
    df['cod_municipio'] = df['cod_municipio'].astype(int)
    pivo = pd.merge(pivo, df, how='left', on='cod_municipio')

In [49]:
pivo

,cod_municipio,nome_municipio,regiao_administrativa,regiao_metropolitana,habitantes,PIB,nascidos_vivos
0,3500105,Adamantina,Região Administrativa de Presidente Prudente,Outros municípios do Estado de São Paulo,33869,R$ 1.256.561.606,131.0
1,3500204,Adolfo,Região Administrativa de São José do Rio Preto,Outros municípios do Estado de São Paulo,3436,R$ 136.701.363,20.0
2,3500303,Aguaí,Região Administrativa de Campinas,Outros municípios do Estado de São Paulo,35885,R$ 1.152.443.311,120.0
3,3500402,Águas da Prata,Região Administrativa de Campinas,Outros municípios do Estado de São Paulo,7807,R$ 186.768.100,20.0
4,3500501,Águas de Lindóia,Região Administrativa de Campinas,Outros municípios do Estado de São Paulo,18438,R$ 496.876.915,82.0
...,...,...,...,...,...,...,...
640,3557006,Votorantim,Região Administrativa de Sorocaba,Região Metropolitana de Sorocaba,120662,R$ 3.425.369.517,513.0
641,3557105,Votuporanga,Região Administrativa de São José do Rio Preto,Outros municípios do Estado de São Paulo,92193,R$ 3.374.036.555,404.0
642,3557154,Zacarias,Região Administrativa de São José do Rio Preto,Outros municípios do Estado de São Paulo,2574,R$ 113.037.299,9.0
643,3557204,Chavantes,Região Administrativa de Marília,Outros municípios do Estado de São Paulo,12229,R$ 238.114.855,54.0
644,3557303,Estiva Gerbi,Região Administrativa de Campinas,Outros municípios do Estado de São Paulo,11156,R$ 347.056.556,53.0

In [50]:
pivo.to_csv('nome_arquivo.csv', sep=';')

In [51]:
pivo.isna().sum()

cod_municipio            0
nome_municipio           0
regiao_administrativa    0
regiao_metropolitana     0
habitantes               0
PIB                      0
nascidos_vivos           1
dtype: int64